.picks {
  &-container {
    width: 50%;
    margin: 5rem auto;
    text-align: center;
  }
  &-input-box {
    width: 100%;
    text-align: center;
  }
  &-input {
    width: 400px;
    margin: 0 auto;
  }
  &-selected-item {
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
    color: white;
    background: #8985d4;
    font-weight: bold;
    margin: 10px auto;
  }
}

.MuiButtonBase-root.picks-save-btn {
  margin-top: 16px;
}
