.layout{
  &-container{
    display: flex;
  }
  &-navbar-container{
    background-color: #f5f2f2;
  }
  &-content-container{
    width: 100vw;
    min-height: 98vh ;
    background-color: #f3f1f1;
  }
}
